-i https://pypi.org/simple
--extra-index-url https://pypi.org/simple
asana==0.7.1
certifi==2018.4.16
chardet==3.0.4
idna==2.6
oauthlib==2.1.0
requests-oauthlib==0.8.0
requests==2.18.4
six==1.11.0
urllib3==1.22
